<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% if (message && message.length > 0) { %>
  <div class="flash-messages-container animate__animated">
    <div class="flash-message">
      <iconify-icon icon="solar:info-circle-outline" inline class="brand-orange"></iconify-icon><%= message %>
    </div>
  </div>
<% } %>

<div class="container-xxl px-xl-4 px-0">
  <section>
    <div class="row">
      <div class="col-lg-9 col-12">
        <h1>Edit Content</h1>
      </div>
    </div>
  </section>
  
  <form action="/content/edit/<%= content.id %>" method="POST">
    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="category_id">Category:</label>
      </div>
      <div class="col-lg-9 col-12">
        <select class="form-select" id="category_id" name="category_id" required>
          <% categories.forEach(category => { %>
            <option value="<%= category.id %>" <%= category.id === content.category_id ? 'selected' : '' %>><%= category.name %></option>
          <% }) %>
        </select>
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="title">Title:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="text" class="form-control" id="title" name="title" value="<%= content.title %>" required>
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="type">Type:</label>
      </div>
      <div class="col-lg-9 col-12">
        <select class="form-select" id="type" name="type" required>
          <option value="Video" <%= content.type === 'Video' ? 'selected' : '' %>>Video</option>
          <option value="Exercise" <%= content.type === 'Exercise' ? 'selected' : '' %>>Exercise</option>
          <option value="Article" <%= content.type === 'Article' ? 'selected' : '' %>>Article</option>
          <option value="Other" <%= content.type === 'Other' ? 'selected' : '' %>>Other</option>
        </select>
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="link">Link:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="text" class="form-control" id="link" name="link" value="<%= content.link %>" required>
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="wordpress_post">WordPress Post:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input list="wordpress_posts" class="form-control" id="wordpress_post" name="wordpress_post_title" required>
        <datalist id="wordpress_posts">
          <!-- WordPress posts will be populated here by JavaScript -->
        </datalist>
        <input type="hidden" id="wordpress_post_id" name="wordpress_post_id" value="<%= content.wordpress_post_id %>">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<script>
  async function fetchWordPressPosts(page = 1) {
    const response = await fetch(`https://altiushealthcare.co.uk/wp-json/wp/v2/posts?per_page=100&page=${page}`);
    const posts = await response.json();

    const datalist = document.getElementById('wordpress_posts');
    const currentPostId = document.getElementById('wordpress_post_id').value;
    const postInput = document.getElementById('wordpress_post');

    posts.forEach(post => {
      const option = document.createElement('option');
      option.value = post.title.rendered;
      option.dataset.id = post.id;
      datalist.appendChild(option);

      if (post.id == currentPostId) {
        postInput.value = post.title.rendered;
      }
    });

    if (posts.length === 100) {
      // If we fetched 100 posts, there might be more. Fetch the next page.
      fetchWordPressPosts(page + 1);
    }

    postInput.addEventListener('input', function() {
      const selectedOption = Array.from(datalist.options).find(option => option.value === postInput.value);
      if (selectedOption) {
        document.getElementById('wordpress_post_id').value = selectedOption.dataset.id;
      }
    });
  }

  fetchWordPressPosts();
</script>

<%- include('../partials/footer') %>
