<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% if (message && message.length > 0) { %>
    <div class="flash-messages-container animate__animated">
      <div class="flash-message">
        <iconify-icon icon="solar:info-circle-outline" inline class="brand-orange"></iconify-icon><%= message %>
      </div>
    </div>
  <% } %>

  <h1>Create Assessment</h1>
  <form action="/assessments/create" method="POST">
    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="name">Name:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="description">Description:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="text" class="form-control" id="description" name="description" required>
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="questions">Questions:</label>
      </div>
      <div class="col-lg-9 col-12">
        <div style="height: 400px; overflow-y: auto;padding-left:10px;">
          <% questions.forEach(question => { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="question_<%= question.id %>" name="question_ids">
              <label class="form-check-label" for="question_<%= question.id %>">
                <%= question.question %>
              </label>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Save Assessment</button>
  </form>

  <%- include('../partials/footer') %>