<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="container-xxl px-xl-4 p6-0" style="max-width: 500px;">
  <section>
    <div class="row border py-2">
        <div class="col-4 d-flex justify-content-end align-items-center">
            <p class="mb-0">Germany</p>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <input class="form-control d-inline-block text-center" style="width: 50px;" type="number" id="home_score" placeholder="0">
            <span class="mx-2">-</span>
            <input class="form-control d-inline-block text-center" style="width: 50px;" type="number" id="away_score" placeholder="0">
        </div>
        <div class="col-4 d-flex justify-content-start align-items-center">
            <p class="mb-0">Scotland</p>
        </div>
    </div>
</section>
<div class="my-3">
  <form method="get" action="/">
    <div class="form-group">
      <select class="form-control" id="round" name="round" onchange="this.form.submit()">
        <% rounds.forEach(r => { %>
          <option value="<%= r %>" <%= r === selectedRound ? 'selected' : '' %>>Round <%= r %></option>
        <% }); %>
      </select>
    </div>
  </form>
</div>



<% fixtures.forEach(fixture => { %>
  <section>
    <div class="row border py-2">
      <div class="col-4 d-flex justify-content-end align-items-center">
        <p class="mb-0"><%= fixture.home_team.name %></p>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <input class="form-control d-inline-block text-center" style="width: 50px;" type="number" placeholder="0">
        <span class="mx-2">-</span>
        <input class="form-control d-inline-block text-center" style="width: 50px;" type="number" placeholder="0">
      </div>
      <div class="col-4 d-flex justify-content-start align-items-center">
        <p class="mb-0"><%= fixture.away_team.name %></p>
      </div>
    </div>
  </section>
<% }); %>
</div>

</div>
<%- include('./partials/footer') %>
