<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<style>
          .ct-series-a .ct-line {
            stroke: rgba(75, 192, 192, 1);
        }
        .ct-series-a .ct-area {
            fill: rgba(75, 192, 192, 0.2);
        }
</style>
<% if (user.role === 'admin') { %>
<section>
  <h1>Welcome back, <%= user.first_name %></h1>
</section>
<section>
 
  <div class="row summary-blocks header-row gap-lg-0 gap-3">
    <% if (assessments && assessments.length > 0) { %>
      <% const assessment = assessments[0]; %>
      <% Object.keys(assessment).forEach(key => { %>
        <% if (key.endsWith('_score') && assessment[key] !== null) { %>
          <div class="col">
            <div class="card summary-card px-3 py-3">
              <p class="fw-semibold mb-1"><%= key.split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></p>
              <div class="d-flex align-items-start flex-column">
                <h3 class="mb-1 fw-bold"><%= assessment[key] %></h3>
              </div>
              <p>Above or below benchmark</p>
            </div>
          </div>
        <% } %>
      <% }); %>
    <% } else { %>
      <div class="col">
        <div class="card summary-card px-3 py-3">
          <p class="fw-semibold mb-1">No assessments available</p>
        </div>
      </div>
    <% } %>
  </div>
  
  
  
</section>
<% } else if (user.role === 'customer') {%>
    <h2 class="mb-3 mt-3">Your Bookings</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Booked Service</th>
            <th>ID</th>
            <th>Booked for</th>
            <th>Status</th>
            <th>Time</th>
            <th>Total Price</th>
            <th>Add-Ons</th>
          </tr>
        </thead>
        <tbody>
          <% bookings.forEach(booking => { %>
            <tr>
              <td><%= booking.booked_service %></td>
              <td>#<%= booking.id %></td>
              <td><%= new Date(booking.booking_date).toLocaleDateString('en-GB') %></td>
              <td><%= booking.status %></td>
              <td><%= booking.start_time %> - <%= booking.end_time %></td>
              <td>£<%= booking.total_price.toFixed(2) %></td>
              <td>
                <% if (booking.add_ons.length > 0) { %>
                  <% booking.add_ons.forEach(addOn => { %>
                    <%= addOn.name %> (Quantity: <%= addOn.quantity %>): £<%= addOn.price.toFixed(2) %><br>
                  <% }) %>
                <% } else { %>
                  No add-ons.
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="container">
    <% bookings.forEach(booking => { %>
      <div class="row card flex-row mt-2 font-14 pt-2 pb-2">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <label class="mb-2 support-text font-14">Booked Service</label>
          <p><%= booking.booked_service %></p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-6 col-12">
          <label class="mb-2 support-text font-14">ID</label>
          <p><%= booking.id %></p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
          <label class="mb-2 support-text font-14">Booking Date</label>
          <p><%= new Date(booking.booking_date).toLocaleDateString('en-GB') %></p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-6 col-12">
          <label class="mb-2 support-text font-14">Status</label>
          <p><%= booking.status %></p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
          <label class="mb-2 support-text font-14">Time</label>
          <p><%= booking.start_time %> - <%= booking.end_time %></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <label class="mb-2 support-text font-14">Total Price</label>
          <p>£<%= booking.total_price.toFixed(2) %></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <label class="mb-2 support-text font-14">Add-Ons</label>
          <% if (booking.add_ons.length > 0) { %>
            <% booking.add_ons.forEach(addOn => { %>
              <p><%= addOn.name %> (Qty: <%= addOn.quantity %>): £<%= addOn.price.toFixed(2) %></p>
            <% }) %>
          <% } else { %>
            <p>No add-ons.</p>
          <% } %>
        </div>
      </div>
    <% }) %>
  </div>
    
    
    
<% } %>

<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
  new Chartist.Line('.ct-chart', {
      labels: Array(6).fill(''), // Hidden labels
      series: [
          [2, 4, 6, 7, 6, 8]
      ]
  }, {
      showPoint: false,
      lineSmooth: Chartist.Interpolation.simple(),
      axisX: {
          showLabel: false,
          showGrid: false
      },
      axisY: {
          showLabel: false,
          showGrid: false
      },
      fullWidth: true,
      chartPadding: {
          right: 0,
          left: 0,
          top: 0,
          bottom: 0
      },
      showArea: true
  });
</script>

<%- include('./partials/footer') %>