
<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<style>

.btn, button {
    border: var(--base-border);
    color: var(--base-color);
    border-radius: var(--base-border-radius);
    padding: 10px 14px;
    font-size: var(--smaller-font);
    background: white;
    font-weight: 500;
    transition: 0.4s;
    box-shadow: var(--base-box-shadow);
}

.booking-component {
    max-width: 960px;
    border:var(--base-border);
    border-radius: var(--base-border-radius);
    box-shadow: var(--base-box-shadow);
}    
#calendar, #day-labels {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days in a week */
    gap: 4px;
}


.day-labels > div {
    text-align: center;
    font-weight: 500;
    padding: 8px 0;
    text-transform: uppercase;
    font-size:12px; /* Adjust padding to your liking */
}

.calendar-day {
    text-align: center;
    background-color: #fff; /* Light grey background */
    border: 1px solid #ddd; /* Grey border */
    border-radius: var(--base-border-radius);
    cursor: pointer;
    padding-top: 100%; /* Padding-top as 100% of the element's current width */
    position: relative; /* Needed for absolute positioning inside */
    box-sizing: border-box; /* Includes padding and border in the element's width and height */
    transition: 0.4s;
}

.offset-day {
    border:none;
    /* background-color: white; */
}

.calendar-day:hover, button:hover {
    border:1px solid var(--orange-600);
}

.calendar-day > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: auto; /* Auto height based on content */
    padding: 4px 0; /* Padding for the content */
}

.calendar-grid {
    margin-top: 5px;
}
.past-day, .expired {
    color: #ccc;  
    background-color: #f9f9f9;
    pointer-events: none;  
}


.time-slot {
      cursor: pointer;
      padding: var(--base-padding);
      border: var(--base-border);
      margin-bottom: 5px;
      border-radius: var(--base-border-radius);
      text-align: center;
      font-size: var(--font-14);
}
.selected-day {
    background-color: var(--orange-600);
    color:white;
}

.time-slot.selected {
    color: var(--orange-600);
    background-color: var(--orange-50);
    border-color: var(--orange-600);
}

</style>

<div class="container-xxl">
    
      <div class="booking-component container animate__animated animate__slideInRight mt-5">
        <div class="row px-2 py-3">
            <div class="booking-component-details col-md-3 d-flex flex-column">
                <img src="https://via.placeholder.com/50" style="width:40px;height:40px;border-radius:50%">
                <h5 class="booking-component-name fw-bolder mt-3">Book <%= serviceDetails.name %></h5>
                <p><%= serviceDetails.description %></p>
                <p><i class="bi bi-tag-fill me-2"></i> £<%= serviceDetails.price %>.00</p>
                <p><i class="bi bi-clock-fill me-2"></i>1 hour</p>
                <p><i class="bi bi-person-fill me-2"></i>4 riders per arena</p>
            </div>
            <div class="booking-component-calendar col-md-6 mt-4 mt-sm-0">
                    <!-- Month Navigation -->
                    <div class="d-flex justify-content-between mb-3 calendar-header align-items-center">
                      <button id="prev-month" class=""> <- Prev</button>
                      <p class="mb-0 fw-semibold" id="month-year">April 2024</p>
                      <button id="next-month" class="">Next -></button>
                    </div>
                    <div id="day-labels" class="day-labels">
                    
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                        <div>Sun</div>
                    </div>
                
                    <!-- Calendar Grid -->
                    <div id="calendar" class="calendar-grid"></div>
            </div>
            <div class="booking-component-time-selection col-md-3 mt-4 mt-sm-0 text-lg-center">
                <p class="fw-semibold" id="month-year">Available slots</p>
                <div id="time-slots" class="">
                </div>
            </div>
        </div>
        <div id="add-ons-container" class="border-top py-4">
            <% addOns.forEach(addOn => { %>
                <div class="add-on row" data-add-on-id="<%= addOn.id %>">
                    <div class="col-6 d-flex align-items-center">   
                        <p class="fw-semibold mb-0"><%= addOn.name %> - £<%= addOn.price %></p>
                    </div>
                    <div class="quantity-controls col-6 d-flex justify-content-end align-items-center">
                        <button onclick="changeAddOnQuantity('<%= addOn.id %>', '<%= addOn.name %>','<%= addOn.price %>', -1)">-</button>
                        <input class="btn" style="width:40px" type="text" id="quantity-<%= addOn.id %>" value="0" min="0" max="<%= addOn.max_quantity %>" readonly>
                        <button onclick="changeAddOnQuantity('<%= addOn.id %>', '<%= addOn.name %>', '<%= addOn.price %>',  1)">+</button>
                    </div>  
                    <div class="col">
                        <p><%= addOn.description %></p>
                    </div>
                </div>
            <% }) %>
        </div>
        <div>
            <h4>Booking summary</h4>
            <div id="booking-summary"></div>
            <button id="paymentPageBtn" class="hidden">Your details -></button>
        </div>
        <script src="https://js.stripe.com/v3/"></script>

        <button id="checkout-button">Checkout</button>
        
      </div> 
  
</div>


<script>
let serviceData = <%- JSON.stringify(serviceDetails) %>;
let availableDates = <%- JSON.stringify(availableDates) %>;
let userId = <%- JSON.stringify(user.id) %>;
let currentSelectedDayElement = null;
console.log(availableDates)

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('prev-month').addEventListener('click', () => changeMonth(-1));
    document.getElementById('next-month').addEventListener('click', () => changeMonth(1));
    generateCalendar(new Date().getMonth(), new Date().getFullYear());
});

function generateCalendar(month, year) {
    const calendarContainer = document.getElementById('calendar');
    calendarContainer.innerHTML = '';
    const firstDay = new Date(year, month, 1).getDay();
    const daysInMonth = new Date(year, month + 1, 0).getDate();
    const dayOffset = firstDay === 0 ? 6 : firstDay - 1;

    for (let i = 0; i < dayOffset; i++) {
        const emptyDayElement = document.createElement('div');
        emptyDayElement.className = 'calendar-day offset-day';
        calendarContainer.appendChild(emptyDayElement);
    }

    document.getElementById('month-year').textContent = `${new Date(year, month).toLocaleString('en-GB', { month: 'long' })} ${year}`;

    for (let day = 1; day <= daysInMonth; day++) {
    const dateStr = `${year}-${String(month + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;
    const dateOfCurrentDay = new Date(year, month, day);
    dateOfCurrentDay.setHours(0, 0, 0, 0);
    const today = new Date();
    today.setHours(0, 0, 0, 0);
    const isPast = dateOfCurrentDay < today;
    const dayElement = document.createElement('div');
    dayElement.className = 'calendar-day' + (isPast ? ' past-day' : '');

    const dateGroup = availableDates.find(dateGroup => dateGroup.dates.some(singleDate => singleDate.date === dateStr));
    const dateData = dateGroup ? dateGroup.dates.find(singleDate => singleDate.date === dateStr) : null;

    if (dateData && !isPast && dateData.available_times.length > 0) {
        dayElement.classList.add('active');
        dayElement.addEventListener('click', () => {
            if (currentSelectedDayElement) {
                currentSelectedDayElement.classList.remove('selected');
            }
            currentSelectedDayElement = dayElement;
            currentSelectedDayElement.classList.add('selected');

            displayTimeSlots(dateStr, dateData);

            bookingDetails.date = dateStr; // Update the date in bookingDetails when a day is selected
        });
        // Add visual indicator for availability
        const availabilityIndicator = document.createElement('div');
        availabilityIndicator.classList.add('availabilityIndicator')
        dayElement.appendChild(availabilityIndicator);
    } else {
        // Disable days with no available time slots or past days
        dayElement.classList.add('disabled');
    }

    dayElement.innerHTML += `<span>${day}</span>`;
    calendarContainer.appendChild(dayElement);
}

}

function changeMonth(change) {
    const date = new Date(currentYear, currentMonth + change, 1);
    currentMonth = date.getMonth();
    currentYear = date.getFullYear();
    generateCalendar(currentMonth, currentYear);
}

function displayTimeSlots(selectedDateStr, daySlots) {
    const timeSlotsContainer = document.getElementById('time-slots');
    timeSlotsContainer.innerHTML = '';

    if (!daySlots || !daySlots.available_times) {
        const noSlotsMsg = document.createElement('div');
        noSlotsMsg.textContent = "No available time slots.";
        timeSlotsContainer.appendChild(noSlotsMsg);
        return;
    }

    // Iterate over the available times for the selected date
    daySlots.available_times.forEach(time => {
        const timeSlotElement = document.createElement('div');
        timeSlotElement.className = 'time-slot';
        timeSlotElement.textContent = `${time.start} - ${time.end}`;
        timeSlotElement.addEventListener('click', function () {
            this.classList.toggle('selected');
            toggleTimeSlotSelection(`${time.start} - ${time.end}`, this.classList.contains('selected'));
        });
        timeSlotsContainer.appendChild(timeSlotElement);
    });

    if (daySlots.available_times.length === 0) {
        const noSlotsMsg = document.createElement('div');
        noSlotsMsg.textContent = "No available time slots.";
        timeSlotsContainer.appendChild(noSlotsMsg);
    }
}


function toggleTimeSlotSelection(hour, isSelected) {
    const index = bookingDetails.timeSlots.indexOf(hour);
    if (index > -1 && !isSelected) {
        bookingDetails.timeSlots.splice(index, 1); // Remove unselected time slot
        if (bookingDetails.timeSlots.length === 0) {
            enableDays(); // Re-enable all days if no slots are selected
            document.querySelector('#paymentPageBtn').classList.add('hidden');
            document.querySelector('#checkout-button').classList.add('hidden');
        }
    } else if (index === -1 && isSelected) {
        if (bookingDetails.timeSlots.length === 0) {
            disableDays(); // Disable all other days when the first slot is selected
            document.querySelector('#paymentPageBtn').classList.remove('hidden');
            document.querySelector('#checkout-button').classList.remove('hidden');
        }
        bookingDetails.timeSlots.push(hour); // Add selected time slot
    }

    recalculateTotalPrices(); // Recalculate total prices whenever time slots change
    updateBookingSummary(); // Update the display or other UI elements if necessary
}

function disableDays() {
    const days = document.querySelectorAll('.calendar-day');
    days.forEach(day => {
        if (day !== currentSelectedDayElement) {
            day.classList.add("past-day");
            document.querySelector('#next-month').disabled = true;
            document.querySelector('#next-month').classList.add("past-day");
            document.querySelector('#prev-month').disabled = true;
            document.querySelector('#prev-month').classList.add("past-day");
        }
    });
}

function enableDays() {
    const days = document.querySelectorAll('.calendar-day.past-day');
    days.forEach(day => {
        day.classList.remove("past-day");
        document.querySelector('#next-month').disabled = false;
        document.querySelector('#next-month').classList.remove("past-day");
        document.querySelector('#prev-month').disabled = false;
        document.querySelector('#prev-month').classList.remove("past-day");        
    });
}



function changeAddOnQuantity(addOnId, addOnName, addOnUnitPrice, change) {
    const quantityInput = document.getElementById(`quantity-${addOnId}`);
    let currentQuantity = parseInt(quantityInput.value);
    const maxQuantity = parseInt(quantityInput.max);

    if (currentQuantity + change >= 0 && currentQuantity + change <= maxQuantity) {
        currentQuantity += change;
        quantityInput.value = currentQuantity;

        const addOnIndex = bookingDetails.addOns.findIndex(addOn => addOn.id === addOnId);
        if (addOnIndex > -1) {
            bookingDetails.addOns[addOnIndex].quantity = currentQuantity;
        } else {
            bookingDetails.addOns.push({
                id: addOnId,
                name: addOnName,
                price: parseFloat(addOnUnitPrice),
                quantity: currentQuantity
            });
        }
    }

    recalculateTotalPrices(); // Recalculate total prices when quantity changes
    updateBookingSummary(); 
}

function updateBookingSummary() {
    const summaryElement = document.getElementById('booking-summary');
    summaryElement.innerHTML = `<strong>Date:</strong> ${bookingDetails.date}<br><strong>Time Slots:</strong> ${bookingDetails.timeSlots.join(', ')}`;

    const serviceInfo = document.createElement('p');
    serviceInfo.innerHTML = `<strong>Service:</strong> ${bookingDetails.service.name}<br><strong>Service Cost:</strong> £${bookingDetails.service.totalPrice.toFixed(2)}`;
    summaryElement.appendChild(serviceInfo);

    bookingDetails.addOns.forEach(addOn => {
        const addOnInfo = document.createElement('p');
        addOnInfo.innerHTML = `<strong>${addOn.name}</strong>: Quantity ${addOn.quantity}, Unit Price £${addOn.price.toFixed(2)}, Total Price £${addOn.totalPrice.toFixed(2)}`;
        summaryElement.appendChild(addOnInfo);
    });

    const totalCostElement = document.createElement('p');
    totalCostElement.innerHTML = `<strong>Total Cost:</strong> £${bookingDetails.totalCost.toFixed(2)}`;
    summaryElement.appendChild(totalCostElement);
}

function recalculateTotalPrices() {
    const numberOfSlots = bookingDetails.timeSlots.length;
    bookingDetails.service.totalPrice = bookingDetails.service.price * numberOfSlots;

    bookingDetails.totalCost = bookingDetails.service.totalPrice; // Start with service cost

    bookingDetails.addOns.forEach(addOn => {
        addOn.totalPrice = addOn.price * addOn.quantity * numberOfSlots; // Recalculate add-on total price
        bookingDetails.totalCost += addOn.totalPrice; // Add to total cost
    });
}

let bookingDetails = {
    date: currentSelectedDayElement,
    timeSlots: [],
    addOns: [],
    service: {},
    user_id: userId
};

bookingDetails.service = {
    id: serviceData.id,
    name: serviceData.name,
    price: serviceData.price
};

let stripe = Stripe('pk_test_51NQakVAnfvRY3Kb0JGMUDL00mO8hpTHF2UDt6UHk0ScFKT6DX12xT4jqcQE1GvDBBxvOs1X1oFcIitHJkrM7QCpU00CYkH5cYn');
document.getElementById('checkout-button').addEventListener('click', function () {
        fetch('/bookings/create-checkout-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                bookingDetails: bookingDetails
            })
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.sessionId });
        })
        .catch(function (error) {
            console.error('Error:', error);
        });
    });

</script>

<%- include('../partials/footer') %>
