<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<section>
<div class="header-row row">
<div class="col-lg-8 col-12">
    <h1>Bookings</h1>
    <p>Manage your customer bookings</p>
  </div>
  <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-start mt-2 mt-lg-0 gap-2">
    <a href="/bookings/sync" class="btn"><iconify-icon inline icon="solar:download-square-linear"></iconify-icon>Export</a>
    <a href="/bookings/sync" class="btn"><iconify-icon inline icon="solar:calendar-add-outline"></iconify-icon>Sync</a>
  </div>
</div>
</section>
<section>
<div class="col-12 table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Booked By</th>
          <th>Service</th>
          <th>Booked for</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Total Paid (£)</th>
          <th>Status</th>
          
          <th>Role</th>
          
          <!-- <th>Add-ons</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% bookings.forEach(booking => { %>
          <tr style="cursor: pointer;" onclick="window.location.href='/bookings/edit-booking/<%= booking.id %>'">
            <td><%= booking.id %></td>
            <td><%= booking.user_id.name %></td>
            <td><%= booking.service_id.name %></td>
            <td><%= new Date(booking.booking_date).toLocaleDateString('en-GB') %></td>
            <td><%= booking.start_time %></td>
            <td><%= booking.end_time %></td>
            <td><%= Number(booking.total_price).toFixed(2) %></td>
            <td>
              <span class="<%= booking.status === 'active' ? 'token green' : 'token red' %>">
                <%= booking.status %>
              </span>
            </td>
           
            <td><%= booking.user_id.role %></td>
           
            <!-- <td><%= booking.booking_add_ons.length %> add-ons</td> -->
            <td>
              <!-- Prevent the click event from reaching the parent row -->
              <iconify-icon 
                icon="solar:pen-linear" 
                style="cursor: pointer;" 
                onclick="event.stopPropagation(); window.location.href='/bookings/edit-booking/<%= booking.id %>'"
              ></iconify-icon>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>
<%- include('../partials/footer') %>