<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<section>
    <div class="row">
      <div class="header-row col-lg-8 col-12">
        <h1>Select activity</h1>
        <p>What would you like to book today?</p>
      </div>
    </div>
  </section>


<section>
  <div class="row d-flex">
    <% services.forEach(service => { %>
        <% if (service.enabled) { %>
            <div class="col-lg-4 col-12 d-flex flex-grow-1 mb-3 mb-lg-0">
                <a href="/bookings/select-service/<%= service.id %>" class="card-link" style="text-decoration: none; color: inherit;">
                    <div class="card h-100"> <!-- Adding h-100 to make cards of equal height -->
                        <img src="/multiactivity.webp" class="card-img-top" alt="<%= service.name %>">
                        <div class="card-body d-flex flex-column"> <!-- Added flex-column for internal card layout -->
                            <h5 class="card-title"><%= service.name %></h5>
                            <p class="card-text"><%= service.description %></p>
                            <p class="card-text">Price: £<%= service.price.toFixed(2) %></p>
                            <button class="btn btn-primary mt-auto">Select</button> <!-- Changed p to button and added mt-auto -->
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    <% }) %>
</div>
</section>
<%- include('../partials/footer') %>
