<%- include('../partials/header') %>
<%- include('../partials/nav') %>


<div class="container-xxl">
  <section class="mb-3">
    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <h3>Your leagues </h3>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-start">
        <a class="btn btn-primary" href="/leagues/create">+ Create</a>
      </div>
    </div>
  </section>

<section>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#joinLeagueCollapse" aria-expanded="false" aria-controls="joinLeagueCollapse">
        Join a league
      </button>
      <div class="collapse mt-3" id="joinLeagueCollapse">
        <form method="POST" action="/leagues/join">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="inviteCode" placeholder="League invite code" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary h-100" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;" type="submit">
                Join league
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</section>
<section class="mt-4">
  <div class="row">
      <div class="col-12">
          <div class="table-container">
              <table class="">
                  <thead>
                      <tr>
                          <th>Pos</th>
                          <th>League</th>
                          <th>Record (W-L)</th>
                          <th>Points</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% leagues.forEach(league => { %>
                      <tr onclick="window.location.href='/leagues/<%= league.id %>'" style="cursor:pointer;">
                        <td><%= league.ranking %></td>
                        <td class="fw-semibold"><a href="/leagues/<%= league.id %>" class="unstyled"><%= league.name %></a></td>
                        <td><%= league.total_correct_results %>W - <%= league.total_incorrect_results %>L</td>
                        <td><%= league.total_points %></td>
                      </tr>
                    <% }) %>
                    
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>
</div>

</div>

<%- include('../partials/footer') %>
