<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container-xxl">
  <section>
    <div class="row">
      <div class="col-lg-6 col-12 d-flex align-items-center">
        <h4 class="mb-0">Your leagues </h4>
      </div>
      <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center mt-2">
        <a class="btn btn-primary" href="/leagues/create">+ Create</a>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <div class="row">
      <div class="col-12">
        <div class="table-container">
          <table class="">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
              <% leagues.forEach(league => { %>
                <tr>
                  <td class="fw-semibold"><a href="/leagues/<%= league.id %>"><%= league.name %></a></td>
                  <td><%= league.owner_name %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../partials/footer') %>
