<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container-xxl">
  <section>
    <div class="row">
      <div class="col-lg-6 col-12">
        <h4><%= league.name %></h4>
      </div>
      <div class="col-lg-6 col-12 d-flex justify-content-lg-end mt-lg-0 mt-2">
        <div class="input-group">
          <input type="text" class="form-control font-14" id="inviteCode" value="<%= league.invite_code %>" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary h-100" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;" type="button" id="copyInviteCodeButton">
              <iconify-icon inline icon="mdi:clipboard-outline"></iconify-icon> Copy invite
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <div class="row">
      <div class="col-12">
        <h4>Members</h4>
        <ul class="list-group">
          <% participants.forEach(participant => { %>
            <li class="list-group-item"><%= participant.users.first_name %> <%= participant.users.last_name %></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </section>

  <section class="mt-4 container">
    <div class="row">
    
        <div class="col-12 font-14">
          <% Object.keys(groupedPredictions).forEach(fixtureId => { %>
            <div class="row py-2 mb-2 fixture-row" style="background:#f6f6f6;border-radius: 6px;border:solid 1px #ededed;">
              <div class="col-12 text-center pb-2 fixture-date"><%= groupedPredictions[fixtureId].fixture.formatted_kick_off_time %></div>
              <div class="col-12 d-flex justify-content-center align-items-center">
                <span>
                  <img src="<%= groupedPredictions[fixtureId].fixture.home_team.flag %>" class="fixture-row-flag me-2" style="width: 24px; height: 24px;"> 
                  <%= groupedPredictions[fixtureId].fixture.home_team.name %> vs 
                
                  <%= groupedPredictions[fixtureId].fixture.away_team.name %>
                  <img src="<%= groupedPredictions[fixtureId].fixture.away_team.flag %>" class="fixture-row-flag ms-2" style="width: 24px; height: 24px;">
                </span>
              </div>
            </div>
            
              <% groupedPredictions[fixtureId].predictions.forEach(prediction => { %>
                <div class="row mb-2 border py-2">
                <div class="col-12 text-center">
                  <p class="mb-0"><%= participants.find(p => p.user_id === prediction.user_id).users.first_name %></p>
                </div>
                <div class="col-12 text-center">
                  <p class="mb-0"><%= prediction.predicted_home_score %> - <%= prediction.predicted_away_score %></p>
                </div>
              </div>
            <% }); %>
         
          <% }); %>
        </div>
    </div>
  </section>
  
</div>

<%- include('../partials/footer') %>

<script>
  document.getElementById('copyInviteCodeButton').addEventListener('click', function() {
    const inviteCodeInput = document.getElementById('inviteCode');
    const inviteCode = inviteCodeInput.value;
    const url = window.location.href;

    const textToCopy = `Join my league on Speculator.com. Link: ${url}/register, Invite Code: ${inviteCode}`;

    navigator.clipboard.writeText(textToCopy).then(() => {
      alert('Invite link and access code copied to clipboard!');
    }).catch(err => {
      console.error('Failed to copy: ', err);
    });
  });
</script>
