<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container-xxl">
  <section>
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1><%= league.name %></h1>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-lg-end mt-lg-0 mt-2">
        <div class="input-group">
          <input type="text" class="form-control" id="inviteCode" value="<%= league.invite_code %>" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary h-100" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;" type="button" id="copyInviteCodeButton">
              <iconify-icon inline icon="mdi:clipboard-outline"></iconify-icon> Copy invite
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <div class="row">
      <div class="col-12">
        <h2>Participants</h2>
        <ul class="list-group">
          <% participants.forEach(participant => { %>
            <li class="list-group-item"><%= participant.users.first_name %> <%= participant.users.last_name %></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <div class="row">
      <div class="col-12">
        <h2>Predictions</h2>
        <div class="table-container">
          <table class="">
            <thead>
              <tr>
                <th>User</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Home Score</th>
                <th>Away Score</th>
              </tr>
            </thead>
            <tbody>
              <% predictions.forEach(prediction => { %>
                <tr>
                  <td><%= participants.find(p => p.user_id === prediction.user_id).users.first_name %> <%= participants.find(p => p.user_id === prediction.user_id).users.last_name %></td>
                  <td><%= prediction.fixtures.home_team.name %></td>
                  <td><%= prediction.fixtures.away_team.name %></td>
                  <td><%= prediction.predicted_home_score %></td>
                  <td><%= prediction.predicted_away_score %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../partials/footer') %>

<script>
  document.getElementById('copyInviteCodeButton').addEventListener('click', function() {
    const inviteCodeInput = document.getElementById('inviteCode');
    const inviteCode = inviteCodeInput.value;
    const url = window.location.href;

    const textToCopy = `Join my league on Speculator.com. Link: ${url}/register, Invite Code: ${inviteCode}`;

    navigator.clipboard.writeText(textToCopy).then(() => {
      alert('Invite link and access code copied to clipboard!');
    }).catch(err => {
      console.error('Failed to copy: ', err);
    });
  });
</script>
