<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% if (service) { %>
    <form action="/services/edit-service/<%= service.id %>" method="post">
      <!-- Service Details -->
      <div class="col-lg-12 col-12">
        <a href="/services" class="unstyled font-14 mb-3 d-block"><- Back to all services</a>
        <h3 class="mb-1">Update <%= service.name %></h3>
        <p class="support-text">Pricing, capacity, and descriptions of the service you're selling.</p>
    </div>

      <!-- Name -->
      <div class="form-row row">
        <div class="col-lg-4 col-12">
          <label class="form-label" for="name-<%= service.id %>">Name</label>
        </div>
        <div class="col-lg-8 col-12">
          <input type="text" class="form-control" id="name-<%= service.id %>" name="name" value="<%= service.name %>" required>
        </div>
      </div>

      <!-- Description -->
      <div class="form-row row">
        <div class="col-lg-4 col-12">
          <label class="form-label" for="description-<%= service.id %>">Description</label>
        </div>
        <div class="col-lg-8 col-12">
            <textarea class="form-control" id="description-<%= service.id %>" name="description" value="<%= service.description %>" required rows="3" required><%= service.description %></textarea>
        </div>
      </div>

      <!-- Max Capacity -->
      <div class="form-row row">
        <div class="col-lg-4 col-12">
          <label class="form-label" for="max_capacity-<%= service.id %>">Limit per booking:</label>
          <p class="support-text">Capacity per booking</p>
        </div>
        <div class="col-lg-8 col-12">
          <input type="number" class="form-control" id="max_capacity-<%= service.id %>" name="max_capacity" value="<%= service.max_capacity %>" required>
        </div>
      </div>

           <!-- Duration -->
           <div class="form-row row">
            <div class="col-lg-4 col-12">
                <label for="session_duration-<%= service.id %>" class="form-label mb-0">Service duration</label>
                <p class="support-text font-14 mb-3 mb-lg-0">How long should the booking time slots be? e.g. 1hr, 2hr, 3hr. </p>
            </div>
            <div class="col-lg-8 col-12">
                <input type="time" id="session_duration-<%= service.id %>" class="form-control" name="session_duration" value="<%= service.session_duration %>"  required>
            </div>
        </div>  
        
              <!-- Max Capacity -->
      <div class="form-row row">
        <div class="col-lg-4 col-12">
          <label class="form-label mb-0" for="bookings_per_time_slot-<%= service.id %>">Maximum bookings per time slot</label>
          <p class="support-text font-14 mb-3 mb-lg-0">Limit the number of bookings allowed per session. For example, entering '2' allows two users to book the same time slot</p>
        </div>
        <div class="col-lg-8 col-12">
          <input type="number" class="form-control" id="bookings_per_time_slot-<%= service.id %>" name="bookings_per_time_slot" value="<%= service.bookings_per_time_slot %>" required>
        </div>
      </div>

      <!-- Price -->
      <div class="form-row row">
        <div class="col-lg-4 col-12">
          <label class="form-label" for="price-<%= service.id %>">Price:</label>
        </div>
        <div class="col-lg-8 col-12">
          <input type="number" step="0.01" class="form-control" id="price-<%= service.id %>" name="price" value="<%= service.price %>" required>
        </div>
      </div>

      <!-- Enable Service -->
      <div class="form-row row">
        <div class="col-lg-4 col-12">
          <label for="enabled" class="form-check-label">Enable Service:</label>
        </div>
        <div class="col-lg-8 col-12">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              name="enabled"
              role="switch"
              id="enabled"
              value="true"
              <% if (service.enabled) { %> checked <% } %> 
            />
          </div>
          
        </div>
      </div>

      <!-- Service Hours --> 
      <div class="col-12 mt-3">
        <h4 class="mb-1">Close opening days</h4>
        <p class="support-text font-14">Toggle the days the service operates</p>
      </div>
      
      <div class="row mb-3 align-items-start form-row">
        <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].forEach((day, index) => { const hour = service.service_hours.find(h => h.day_of_week === day) || { opening_time: '', closing_time: '', is_closed: true }; %>
        
        <div class="col-lg col-sm-12 mb-3">
          <label class="form-label"><%= day %></label>
      
          <!-- Service Closed Checkbox Switch -->
          <div class="form-check form-switch mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="day-<%= index %>-closed"
              name="service_hours[<%= index %>][is_closed]"
              value="true" 
              onchange="toggleTimes(this, 'times-<%= index %>')"
              <%= hour.is_closed ? 'checked' : '' %>
              >
            <!-- <label class="form-label" for="day-<%= index %>-closed">
              <%= hour.is_closed ? 'Closed' : 'Open' %>
            </label> -->
          </div>
      
          <!-- Opening and Closing Times (Initially Hidden or Shown) -->
          <div class="collapse row mt-4 <%= hour.is_closed ? '' : 'show' %>" id="times-<%= index %>">
            <!-- Opening Time -->
            <div class="mb-2 col-6 col-lg-12">
              <label class="form-label support-text" for="day-<%= index %>-open">Opening Time</label>
              <input
                type="time"
                class="form-control"
                id="day-<%= index %>-open"
                name="service_hours[<%= index %>][opening_time]"
                value="<%= hour.opening_time %>"
              >
            </div>
      
            <!-- Closing Time -->
            <div class="mb-2 col-6 col-lg-12">
              <label class="form-label support-text" for="day-<%= index %>-close">Closing Time</label>
              <input
                type="time"
                class="form-control"
                id="day-<%= index %>-close"
                name="service_hours[<%= index %>][closing_time]"
                value="<%= hour.closing_time %>"
              >
            </div>
          </div>
      
          <!-- Hidden input for Day of Week -->
          <input type="hidden" name="service_hours[<%= index %>][day_of_week]" value="<%= day %>">
        </div>
        <% }); %>
      </div>
      
      
      
      <script>
        function toggleTimes(checkbox, collapseId) {
          const collapseElement = document.getElementById(collapseId);
          if (checkbox.checked) {
            collapseElement.classList.add('show');
          } else {
            collapseElement.classList.remove('show');
          }
        }
      </script>
      
      
      <script>
        function toggleTimes(checkbox, collapseId) {
          const collapseElement = document.getElementById(collapseId);
          if (checkbox.checked) {
            collapseElement.classList.remove('show');
          } else {
            collapseElement.classList.add('show');
          }
        }
      </script>
      

      <!-- Service Add-Ons -->
      <div class="form-row row">
        <div class="col-8 mb-4">
            <h4 class="mb-0">Add ons</h4>
            <p class="support-text font-14">Additional booking options for your service</p>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-start">
          <a href="/services/create-add-on/<%= service.id %>" class="btn">+ Add-on</a>
        </div>
    </div>
      <div id="serviceAddOnsContainer">
        <% service.service_add_ons.forEach((addOn, index) => { %>
          <div class="row mb-3 form-row">
            <!-- Add-On Label -->
            <div class="col-lg-3 col-12">
              <label class="form-label"><%= addOn.name %></label>
            </div>
                <!-- Add-On Description -->
                <div class="col-lg-4 col-12">
                  <p><%= addOn.description ? addOn.description : "N/A" %></p>
                </div>
        
                <!-- Add-On Price & Edit Button -->
                <div class="col-lg-3 col-12">
                  <p><%= addOn.price.toFixed(2) %></p>
                </div>
                <div class="col-lg-2 col-12 d-flex justify-content-lg-end align-items-start mt-lg-0 mt-2">
                  <a href="/services/edit-add-ons/<%= addOn.id %>?serviceId=<%= addOn.service_id %>" class="btn btn-secondary">Edit</a>
                </div>
          </div>
        <% }); %>
        
      </div>
    
      <!-- Submit Button -->
      <div class="form-row row">
        <div class="col-12">
            <button type="submit" class="btn-primary">Save</button>
        </div>
    </div>
    </form>

    <% } %>

 
        


<script>
function toggleTimes(checkbox, collapseId) {
  const collapseElement = document.getElementById(collapseId);
  if (checkbox.checked) {
    // The checkbox is checked, which means "closed"
    collapseElement.classList.remove('show'); // Collapse the time inputs
  } else {
    // The checkbox is unchecked, which means "open"
    collapseElement.classList.add('show'); // Show the time inputs
  }
}

</script>


<%- include('../partials/footer') %>