<%- include('../partials/header') %>
<%- include('../partials/nav') %>


    <h1>Edit Add-On</h1>
    <form action="/services/edit-add-ons/<%= addOn.id %>" method="post">
      <!-- Hidden input for Service ID -->
      <input type="hidden" name="serviceId" value="<%= serviceId %>">
  
      <!-- Add-on Name -->
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="name">Name:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="text" class="form-control" id="name" name="name" value="<%= addOn.name %>" required>
        </div>
      </div>
  
      <!-- Add-on Description -->
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="description">Description:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="text" class="form-control" id="description" name="description" value="<%= addOn.description %>">
        </div>
      </div>
  
      <!-- Add-on Price -->
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="price">Price:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="number" step="0.01" class="form-control" id="price" name="price" value="<%= addOn.price %>" required>
        </div>
      </div>
  
      <!-- Add-on Max Quantity -->
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="max_quantity">Max Quantity:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="number" class="form-control" id="max_quantity" name="max_quantity" value="<%= addOn.max_quantity %>">
        </div>
      </div>
  
      <!-- Active Checkbox -->
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-check-label" for="active">Active:</label>
        </div>
        <div class="col-lg-9 col-12">
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="active" name="active" <%= addOn.active ? "checked" : "" %>>
          </div>
        </div>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-success">Update Add-On</button>
    </form>
  