
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>

  <% if (message && message.length > 0) { %>
    <div class="flash-messages-container animate__animated">
      <div class="flash-message">
        <iconify-icon icon="solar:info-circle-outline" inline class="brand-orange"></iconify-icon><%= message %>
      </div>
    </div>
  <% } %>
  <div class="container-xxl px-xl-4 px-0">
    <section>
      <div class="row">
      <div class="col-lg-12 col-12">
        <h3>Edit scoring rule</h3>
      </div>
    </div>
    </section> 
  
    <form action="/questions/scoring_rules/edit/<%= scoringRule.id %>" method="POST">
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="gender">Gender:</label>
        </div>
        <div class="col-lg-9 col-12">
          <select class="form-select" id="gender" name="gender" required>
            <option value="Male" <%= scoringRule.gender === 'Male' ? 'selected' : '' %>>Male</option>
            <option value="Female" <%= scoringRule.gender === 'Female' ? 'selected' : '' %>>Female</option>
            <option value="All" <%= scoringRule.gender === 'All' ? 'selected' : '' %>>All</option>
          </select>
        </div>
      </div>
    
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="min_age">Min Age:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="number" class="form-control" id="min_age" name="min_age" value="<%= scoringRule.min_age %>" required>
        </div>
      </div>
    
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="max_age">Max Age:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="number" class="form-control" id="max_age" name="max_age" value="<%= scoringRule.max_age %>" required>
        </div>
      </div>
    
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="min_value">Min Value:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="number" step="0.1" class="form-control" id="min_value" name="min_value" value="<%= scoringRule.min_value %>">
        </div>
      </div>
    
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="max_value">Max Value:</label>
        </div>
        <div class="col-lg-9 col-12">
          <input type="number" step="0.1" class="form-control" id="max_value" name="max_value" value="<%= scoringRule.max_value %>">
        </div>
      </div>
    
      <div class="form-row row mb-3">
        <div class="col-lg-3 col-12">
          <label class="form-label" for="score">Score:</label>
        </div>
        <div class="col-lg-9 col-12">
          <select class="form-select" id="score" name="score" required>
            <option value="1" <%= scoringRule.score === 1 ? 'selected' : '' %>>1</option>
            <option value="3" <%= scoringRule.score === 3 ? 'selected' : '' %>>3</option>
            <option value="5" <%= scoringRule.score === 5 ? 'selected' : '' %>>5</option>
          </select>
        </div>
      </div>
    
      <button type="submit" class="btn btn-success">Save</button>
    </form>
    
</div>
  <%- include('../partials/footer') %>

