<%- include('../partials/header') %>
<%- include('../partials/nav') %>

  <section>
    <div class="row">
      <div class="header-row col-lg-8 col-12">
        <h1>Clients</h1>
        <p>Manage clients and assessments here.</p>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-start mt-2 mt-lg-0">
        <a href="/customers/create" class="btn btn-primary">+ New client</a>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
        <div class="col-12">
            <div class="table-container">
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Membership</th>
                        <th>Business</th>
                        <th colspan="2">Edit</th>
                    </thead>
                    <tbody>

                        <% customers.forEach(customer => { %>
                        <tr>
                            <td><%=customer.name%></td>
                            <td><%=customer.email%></td>
                            <td><%=customer.role%></td>
                            <td><%= customer.memberships ? customer.memberships.name : 'No Membership' %></td>
                            <td>Business</td>
                            <td colspan="2">
                             <a href="/customers/edit/<%=customer.id%>" class="me-3 unstyled"><iconify-icon icon="solar:pen-new-square-linear" inline></iconify-icon>Edit</a>
                             <a class="unstyled" href="/customers/assessments/?user_id=<%=customer.id%>"><iconify-icon inline icon="solar:add-square-linear"></iconify-icon>Assessment</a></td>
                          </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </section>
  


  <%- include('../partials/footer') %>