<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container-xxl px-xl-4 px-0">
  <section>
    <div class="row">
      <div class="header-row col-lg-8 col-12">
        <h1>Clients</h1>
        <p>Manage clients and assessments here.</p>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-start mt-2 mt-lg-0">
        <a href="/customers/create" class="btn btn-primary">+ New client</a>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
        <div class="col-12">
            <div class="table-container">
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Business</th>
                        <th colspan="2"></th>
                    </thead>
                    <tbody>

                        <% customers.forEach(customer => { %>
                        <tr>
                            <td><%=customer.name%></td>
                            <td><%=customer.email%></td>
                            <td><%=customer.role%></td>
                            <td><%=customer.businesses.name%></td>
                            <td colspan="2" >
                              <div class="d-flex justify-content-end align-items-center gap-4">
                             <a href="/customers/edit/<%=customer.id%>" class="unstyled"><iconify-icon icon="solar:pen-new-square-linear" inline></iconify-icon>Edit</a>
                             <a class="unstyled" href="/customers/<%= customer.id %>/assessments/1/new"><iconify-icon inline icon="solar:add-square-linear"></iconify-icon>Assessment</a>
                             </div>
                            </td>
                          </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </section>
  
</div>

  <%- include('../partials/footer') %>