<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container-xxl px-xl-4 px-0">
    <section>
      <div class="row">
      <div class="col-lg-12 col-12">
        <h3>New assessment</h3>
      </div>
    </div>
    </section> 
<form
  action="/customers/<%= customer.id %>/assessments/<%= assessmentId %>/submit"
  method="POST"
>
  <% assessmentQuestions.forEach(assessmentQuestion => { %>
  <div class="form-row row mb-3">
    <div class="col-lg-3 col-12">
      <label class="form-label" for="question-<%= assessmentQuestion.question_id %>"><%= assessmentQuestion.questions.question %></label>
    </div>
    <div class="col-lg-9 col-12">
      <% if (assessmentQuestion.questions.question_type === 'text') { %>
      <input
        type="text"
        class="form-control"
        id="question-<%= assessmentQuestion.question_id %>"
        name="question-<%= assessmentQuestion.question_id %>"
        required
      />
      <% } else if (assessmentQuestion.questions.question_type === 'numeric') { %>
      <input
        type="number"
        class="form-control"
        id="question-<%= assessmentQuestion.question_id %>"
        name="question-<%= assessmentQuestion.question_id %>"
        required
      />
      <% } else if (assessmentQuestion.questions.question_type === 'date') { %>
      <input
        type="date"
        class="form-control"
        id="question-<%= assessmentQuestion.question_id %>"
        name="question-<%= assessmentQuestion.question_id %>"
        required
      />
      <% } else if (assessmentQuestion.questions.question_type === 'textarea') { %>
      <textarea
        class="form-control"
        id="question-<%= assessmentQuestion.question_id %>"
        name="question-<%= assessmentQuestion.question_id %>"
        rows="3"
        required
      ></textarea>
      <% } %>
    </div>
  </div>
  <% }) %>
  <button type="submit" class="btn btn-primary">Submit Assessment</button>
</form>
</div>
<%- include('../partials/footer') %>
